{% extends 'base.html' %}
{% load static %}
{% block content %}
<body background="{% static '/assets/img/backgrounds/1.jpg'%}" style="background-size: cover;">
    

<div class="top-content" ">
            <div class="container">
                <div id="colun" class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                    {% if validlink %}
                    	<form role="form" method="post" class="f1">
                    		{% csrf_token %}	
                    		<fieldset>
                            
                                <div class="form-group">
                                {{ form.new_password1.errors }}
                                    <label for="id_new_password1" class="cols-sm-2 control-label">Contraseña</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-key fa" id="icon" aria-hidden="true"></i></span>
                                            {{ form.new_password1 }}
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="form-group">
                                {{ form.new_password2.errors }}
                                    <label for="id_new_password2" class="cols-sm-2 control-label">Repita Contraseña</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-key fa" id="icon" aria-hidden="true"></i></span>
                                            {{ form.new_password2 }}

                                        </div>
                                    </div>
                                </div>

								<div class="butttons1">	
                                    <button type="submit" class="btn btn-submit">Enviar</button>
                                </div>

                            </fieldset>  
                    	</form>
                {% else %}

                <h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

                {% endif %}
                    </div>
                </div>
                    
            </div>
        </div>
</body>
{% endblock %}