{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container">
<div class="col-md-10 col-md-offset-1 f1 ">
	<img class="imgr" src="{% static 'assets/img/gif.gif'%}" alt="Nosotros" width="300" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
	<center>
	<h1 id="colun" class="text-center" style="color: #3c3c3c;">Tu contraseña a sido restablecida con exito</h1>
	</center>
	<br>
	<p class="text-center"><a style="color: #fff;" href="{% url 'login' %}" ><button type="text" class="btn btn-submit" ">Iniciar sesión</button></a></p>
</div>
</div>


{% endblock %}