{% extends 'base.html' %}

{% block content %}
<style>
li{
    list-style:none;
}
.helptext {
    display: none;
}
.errorlist {
    color:#000 !important; 
}
</style>
<div class="top-content">
            <div class="container">
                <div style="padding-top: 8vh;">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                    
                    	<form role="form" action="" method="post" class="f1">
                    		<fieldset>

                            {% csrf_token %}
                            {{form }}
                            </fieldset>
                            <br>  
                              <button class="btn btn-primary" type="submit">Cambiar Contraseña</button>
                    	</form>
                    </div>
                </div>
                    
            </div>
        </div>
{% endblock %}