{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="top-content" >
            <div class="container">
                <div class="row" >
                    <div class="f11 col-sm-12 col-md-12 col-lg-12 form-box" style="padding: 0px; background-image: url('{% static 'assets/img/line.png'%}'); background-size: cover; background-repeat: no-repeat;">
                       <div id="form" class="fixed-top" >
                        
                            <ul class="nav nav-tabs">
                              <li style="float: right;">
                                <a  href="{% url 'logout' %}">Salir</a></nav>
                                
                              </li>
                            </ul>
                        </div>
                        <img class="imgr" src="{% static 'assets/img/gif.gif'%}" alt="Nosotros" width="300" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
                        <center><div style="width: 700px; padding-bottom: 50px;">
                        <div>
                         <div>
                            <img class="imgr" src="{% static 'assets/img/cargando.gif'%}" alt="Nosotros" width="50" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
                            <h2 style="color: #3c3c3c;">Información Actualizada Correctamente...
                        </h2>
                        <p class="lead hidden"><a id="cargar" class="btn btn-primary btn-xl page-scroll" href="{% url 'dato:app_inicio' %}">¡Entrar!</a></p>
                        </div>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
{% endblock %}