{% extends 'aplicacion/paneladminnw.html' %}
{% load static %}

{% block content %}
<style>
	.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
     border-bottom-width: 0px;
      }

    .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #333;}
    .table-bordered {
    border: 1px solid #333;}
.table {
    width: 80% !important;
    max-width: 100%;
    margin-bottom: 20px;}
.top-content{
	font-weight: bold !important;
}

</style>
{% if user.is_alumno %}
<div class="top-content">
            <div class="container">
                <div class="row">
                    <div class="f1 col-sm-12  col-md-12 col-lg-12  form-box" style="padding: 0px; color: #3c3c3c;">
                       <div class="col-md-offset-2 col-sm-offset-2" style="width: 100%; margin-left: auto;">
                       	<div id="form" class="fixed-top"  >
                            
                            <ul class="nav nav-tabs">
                              <li class="nav-item">
                                <a class="nav-link active" href="{% url 'dato:app_inicio' %}">Inicio</a>
                              </li>
                                  {% if user.is_profesor %}

                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                                   href="#!" role="button" aria-haspopup="true" aria-expanded="false">
                                   Niveles</a>
                                <div class="dropdown-menu">
                                  {% if user.is_superuser %}
                                  <a class="dropdown-item" href="{% url 'dato:nivel' %}"">Añadir Niveles </a>
                                  {% endif %}
                                  <a class="dropdown-item" href="{% url 'dato:nivel1' %}"">Nivel 1 </a>
                                  <a class="dropdown-item" href="{% url 'dato:nivel2' %}"">Nivel 2 </a>
                                  <a class="dropdown-item" href="{% url 'dato:nivel3' %}"">Nivel 3 </a>
                                </div>
                              </li>
                                  {% endif %}
                              {% if user.is_superuser %}
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:reporte' %}">reportes</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:profesor' %}">Añadir Profesor</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:materia' %}">Añadir Materia</a>
                              </li>
                              {% endif %}
            
                              {% if user.is_alumno %}
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:ver_notas' %}">Ver Notas</a>
                              </li>
                              {% endif %}                                  
                              <li style="float: right;">
                                <a  href="{% url 'logout' %}">Salir</a></nav>
                                
                              </li>
                            </ul>
                        </div>
							<p style="font-size: 46px; padding-top: 50px;">{{cliente.nombre}}  {{cliente.apellido}}</p>
							<br>
							<center>
						<h2 style="color: #3c3c3c;">Datos Personales</h2>
						<table class="table table-bordered" >
							<thead>
								<tr>
									<td>Cedula</td>
									<td>Nombre</td>
									<td>Apellido</td>
									<td>Direccion</td>
								</tr>
								
							</thead>
							<tbody>

								<tr>
									<td>{{ cliente.cedula }}</td>
									<td>{{ cliente.nombre }}</td>
									<td>{{ cliente.apellido }}</td>
									<td>{{cliente.direccion}}</td>
								</tr>
							</tbody>
						</table> 
						<table class="table table-bordered">
							<thead>
								<tr>
									<td>Fecha de Nacimiento</td>
									<td>Sexo</td>
									<td>Telefono Resindencial</td>
									<td>Telefono Celular </td>
									<td>Email</td>
								</tr>
								
							</thead>
							<tbody>

								<tr>
									<td>{{ cliente.fecha_de_nacimiento}}</td>
									<td>{{ cliente.sexo}}</td>
									<td>{{ cliente.telefono_residencial }}</td>
									<td>{{ cliente.celular }} {{ cliente.celular_number }}</td>
									<td>{{ cliente.email }}</td>

								</tr>
							</tbody>
						</table>
						<h2 style="color: #3c3c3c;">Datos Socioeconomicos</h2>
						<table class="table table-bordered">
							<thead>
								<tr>
									<td>Estado Civil</td>
									<td>Trabaja</td>
									<td>Profesion</td>
									<td>Origen de Estudio</td>
									<td>Ingreso Familiar</td>

								</tr>
								
							</thead>
							<tbody>

								<tr>
									<td>{{ cliente.estado_civil }}</td>
									<td>{{ cliente.trabaja }}</td>
									<td>{{ cliente.profesion }}</td>
									<td>{{ cliente.estudio_ori }}</td>
									<td>{{ cliente.ing_famil }}</td>

									
								</tr>
							</tbody>
						</table>
						<h2 style="color: #3c3c3c;">Datos Eclesiasticos</h2>
						<table class="table table-bordered">
							<thead>
								<tr>
									<td>Iglesia</td>
									<td>Pastor</td>
									<td>Estudio Teologicos</td>
									<td>Instituto</td>
									<td>Titulo Obtenido</td>

								</tr>
								
							</thead>
							<tbody>

								<tr>
									<td>{{ cliente.iglesia }}</td>
									<td>{{ cliente.pastor }}</td>
									<td>{{ cliente.estudio_teo }}</td>
									<td>{{ cliente.instituto }}</td>
									<td>{{ cliente.titulo_obte }}</td>


									
									
								</tr>
							</tbody>
						</table>
						<table style="margin-bottom:80px;" class="table table-bordered">
							<thead>
								<tr>
									<td>Actividad</td>
									<td>Ministerio</td>
									<td>Razon</td>

								</tr>
								
							</thead>
							<tbody>

								<tr>
									<td>{{ cliente.actividad }}</td>
									<td>{{ cliente.ministerio }}</td>
									<td>{{ cliente.razon }}</td>

									
									
								</tr>
							</tbody>
						</table >
					</center>
						</div>	

                    </div>
                </div>
                    
            </div>
        </div>

{% endif %}
{% if not user.is_superuser %}
<div class="top-content">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12  col-lg-12 form- f11" style="padding: 0px;background-image: url('{% static 'assets/img/line.png'%}'); background-size: cover; color: #3c3c3c;">
                      <img class="imgr" src="{% static 'assets/img/error.gif'%}" alt="Nosotros" width="300" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
                            <center><div style="width: 700px; padding-bottom: 50px;">
                             <h2 style="color: #3c3c3c;">!No tiene Permisos Suficientes para
                              acceder a esta pagina¡
                           </h2>
              <p class="lead"><a class="btn btn-primary btn-xl page-scroll" style="    line-height: 0px;" href="{% url 'dato:app_inicio' %}">Volver</a></p> 
                       </div ></center>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
{% endblock %}
