{% extends 'aplicacion/paneladminnw.html' %}
{% load static %}

{% block content %}
<style>
	.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
     border-bottom-width: 0px;
      }

    .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #333;}
    .table-bordered {
    border: 1px solid #333;}
.table {
    width: 90% !important;
    max-width: 100%;
    margin-bottom: 20px;
     
  }


</style>
<script>
          function abrir_modal(url)
          {
            $('#popup').load(url, function()
            {
              $(this).modal('show');
            });
            return false;
          }

          function cerrar_modal()
          {
            $('#popup').modal('hide');
            return false;
          };
        </script>
<div class="top-content">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12  col-lg-12 form- f11" style="padding: 0px;background-image: url('{% static 'assets/img/line.png'%}'); background-size: cover; color: #3c3c3c;">
                        <div id="form" class="fixed-top"  >
                            <ul class="nav nav-tabs">
                              <li class="nav-item">
                                <a class="nav-link active" href="{% url 'dato:app_inicio' %}">Inicio</a>
                              </li>
                              {% if user.is_alumno and not user.is_inscripcion and not user.is_superuser %}
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:ver_notas' %}">Ver Notas</a>
                              </li>
                              {% endif %} 
                              {% if user.is_superuser %}
                              <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  Profesores<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                <a class="nav-link" href="{% url 'dato:crear_usuario_profesor' %}">Añadir Profesor</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:ver_profesores' %}">Ver Profesores</a>
                                  
                                </ul>
                              </li>
                              <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  Materias<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                <a class="nav-link" href="{% url 'dato:asigna' %}">Asignar Profesor</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:ver_asignaciones' %}">Ver Materias</a>
                                   
                                </ul>
                              </li>
                              <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  Niveles<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                <a class="nav-link" href="{% url 'dato:nivel_1' %}">Nivel 1</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:nivel_2' %}">Nivel 2</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:nivel_3' %}">Nivel 3</a>
                                   
                                </ul>
                              </li>
                              <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  Reportes<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                  <p style="color:#00b0f0;">Generales</p>
                                <a class="nav-link" href="{% url 'dato:reporte_nivel1' %}">Nivel 1</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:reporte_nivel2' %}">Nivel 2</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:reporte_nivel3' %}">Nivel 3</a>
                                   
                                </ul>
                              </li>
                              
                              {% endif %}
                              {% if user.is_profesor %}
                              {% for filtros in filtro%}
                                    <li class="nav-item">
                                      <a class="nav-link" href="{% url 'dato:nivel1' %}">Estudiantes</a>
                                    </li>
                              {% endfor %}
                              {% endif %}
                              {% if user.is_profesor and not user.is_superuser %}               
                              {% endif %}
                              <li class="nav-item dropdown " style="float: right;">
                                <a class="nav-link dropdown-toggle"  data-toggle="dropdown"
                                   href="#!" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right"> 
                                  {% if request.user.is_alumno and not request.user.is_superuser %}
                                  {% if var1 != "III" %}
                                    {% if inscripcion1 %}
                                    <a href="{% url 'dato:pasar_nivel'%}" class="dropdown-item">Inscribirme</a><br>
                                    }
                                    {% endif %}
                                    {% endif %}
                                    <a href="{% url 'dato:aplicacion_editar' pk=request.user.ci %}" class="dropdown-item">Actualizar Datos</a><br>
                                  {% endif %}
                                    <a href="{% url 'dato:change_password' %}" class="dropdown-item">Cambiar Contraseña</a><br>

                                    <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>

                                </div>
                              </li>
                              {% if user.is_alumno and not user.is_inscripcion and not user.is_superuser %}
                              <li class="nav-item dropdown " style="float: right;">
                                <a class="nav-link dropdown-toggle"  data-toggle="dropdown"
                                   href="#!" role="button" aria-haspopup="true" aria-expanded="false">Solicitudes<span class="caret"></span>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right"> 
                                    <a href="{% url 'dato:solicitud' %}" class="dropdown-item">Retirarme</a>
                                </div>
                              </li>
                              {% endif %}
                              </li>
                              

                            </ul>
                        </div>
                            
<br>
<div class="row">
<div class="col-sm-4">
</div>   

  <div class="col-sm-3 col-sm-offset-4 col-md-3 col-md-offset-4 col-xs-offset-5">
      <div class="input-group">
         <span class="input-group-addon">
          <i class="fa fa-user" id="icon" aria-hidden="true"></i>
        </span> 
          <form method="get" action="">
          <input class="form-control" autocomplete="off" type="number" name="q" placeholder="Buscar..." value="{{ request.GET.q }}">
        </form> 
      </div>
  </div>
</div>
<div id="popup" class="modal fade" role="dialog">

</div> 
<div class="col-md-offset-2 col-sm-offset-2" style="width: 100%; margin-left: auto; padding: 15px !important; padding-top: 20px;">
  <div class="col-md-6 col-md-offset-3">
<p style="font-size: 36px;">Bienvenido {{user.first_name}}</p>
<p>Lista de Todos los alumnos Incritos en este nivel</p>
  </div>

<center>

  <div class="ba col-md-10 col-md-offset-1" style="background: #fff; padding-top:50px;  margin-bottom: 50px; box-shadow: 0px 0px 6px 1px;">
<table class="table table-bordered" >
	<thead>
		<tr>
      <td><center> N°</center></td>
			<td><center> Cedula</center></td>
			<td><center> Nombre</center></td>
			<td><center> Apellido</center></td>
			<td><center> Correo</center></td>
			<td><center> Acciones</center></td>

		</tr>
		
	</thead>
	<tbody>
    

		{% if nivel %}
		<tr>
		{% for persona in nivel %}
    <td>  {{ forloop.counter }}</td>
				<td>{{ persona.cedula.cedula }}</td>
				<td>{{ persona.cedula.nombre }}</td>
				<td>{{ persona.cedula.apellido }}</td>
				<td>{{ persona.cedula.email }}</td>
			<td>
				<center>
          <a class="btn" data-toggle="tooltip" data-placement="top" title="Ver más" href="{% url 'dato:listar_per' pk=persona.cedula %}" ><span class="glyphicon glyphicon glyphicon-zoom-in"></span>
          </a>
        {% if persona.estatus == "" %}

          <a data-toggle="tooltip" data-placement="top" title="Ver Nota" onclick="return abrir_modal('{% url 'dato:ver_notas_super2' persona.cedula persona.estatus %}')" class="btn"><span class="glyphicon glyphicon-eye-open"></span>
          </a>
        {% else %}
        <a data-toggle="tooltip" data-placement="top" title="Ver Nota" onclick="return abrir_modal('{% url 'dato:ver_notas_super2' persona.cedula persona.estatus %}')" class="btn"><span class="glyphicon glyphicon-eye-open"></span>
          </a>
        {% endif %}


          <a class="btn" data-toggle="tooltip" data-placement="top" title="Ver PDF" href="{% url 'dato:reporte_personal' pk=persona.id %}" ><span class="glyphicon glyphicon glyphicon-print"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Retirar estudiante" href="{% url 'dato:retiro' persona.cedula %}" class="btn"><span class="glyphicon glyphicon glyphicon-trash"></span>
          </a>
        </center>
			</td>
		</tr>

		{% endfor %}
</div>
		{% else %}
    <img class="imgr" src="{% static 'assets/img/error.gif'%}" alt="Nosotros" width="300" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
		<h1 style="color:#010101;">No se encuentran estudiantes</h1>
    <a class="btn btn-danger" href="javascript:window.history.back();">&laquo; Volver atrás</a>
    <br>
    <br>
		{% endif %}
  </tbody>
  


</table >
<div class="pagination" style="margin:0px; ">
    {% if nivel.has_other_pages %}
            <ul class="pagination">
              {% if nivel.has_previous %}
              <li><a href="?page={{ nivel.previous_page_number }}">&laquo;</a></li>
              {% else %}
              <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in nivel.paginator.page_range %}
              {% if nivel.number == i %}
              <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
              {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
              {% endfor %}
              {% if nivel.has_next %}
              <li><a href="?page={{ nivel.next_page_number }}">&raquo;</a></li>
              {% else %}
              <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
            {% endif %}
    </div> 
</div>

</center>
</div >

</div>
</div>
</div>

</div>
{% if not user.is_profesor  %}
<div class="top-content">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12  col-lg-12 form- f11" style="padding: 0px;background-image: url('{% static 'assets/img/line.png'%}'); background-size: cover; color: #3c3c3c;">
                    	<img class="imgr" src="{% static 'assets/img/error.gif'%}" alt="Nosotros" width="300" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
                            <center><div style="width: 700px; padding-bottom: 50px;">
                             <h2 style="color: #3c3c3c;">!No tiene Permisos Suficientes para
                             	acceder a esta pagina¡
                           </h2>
							<p class="lead"><a class="btn btn-primary btn-xl page-scroll" style="    line-height: 0px;" href="{% url 'dato:app_inicio' %}">Volver</a></p>	
                       </div ></center>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
{% endblock %}