{% extends 'aplicacion/paneladminnw.html' %}
{% load static %}

{% block content %}
<style>
  .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
     border-bottom-width: 0px;
      }

    .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #333;}
    .table-bordered {
    border: 1px solid #333;}
.table {
    width: 90% !important;
    max-width: 100%;
    margin-bottom: 20px;
     
  }


</style>
{% if user.is_profesor %}
<div class="top-content">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12  col-lg-12 form- f11" style="padding: 0px;background-image: url('{% static 'assets/img/line.png'%}'); background-size: cover; color: #3c3c3c;">
                        <div id="form" class="fixed-top"  >
                            
                            <ul class="nav nav-tabs">
                              <li class="nav-item">
                                <a class="nav-link active" href="{% url 'dato:app_inicio' %}">Inicio</a>
                              </li>
                                  {% if user.is_profesor %}

                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                                   href="#!" role="button" aria-haspopup="true" aria-expanded="false">
                                   Niveles</a>
                                <div class="dropdown-menu">
                                  {% if user.is_superuser %}
                                  <a class="dropdown-item" href="{% url 'dato:nivel' %}"">Añadir Niveles </a>
                                  {% endif %}
                                  <a class="dropdown-item" href="{% url 'dato:nivel1' %}"">Nivel 1 </a>
                                  <a class="dropdown-item" href="{% url 'dato:nivel2' %}"">Nivel 2 </a>
                                  <a class="dropdown-item" href="{% url 'dato:nivel3' %}"">Nivel 3 </a>
                                </div>
                              </li>
                                  {% endif %}
                              {% if user.is_superuser %}
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:reporte' %}">reportes</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:profesor' %}">Añadir Profesor</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:materia' %}">Añadir Materia</a>
                              </li>
                              {% endif %}
                              {% if user.is_profesor %}
               
                              {% endif %}
            
                              {% if user.is_alumno %}
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:ver_notas' %}">Ver Notas</a>
                              </li>
                              {% endif %}                                  
                              <li style="float: right;">
                                <a  href="{% url 'logout' %}">Salir</a></nav>
                                
                              </li>
                            </ul>
                        </div>
                            
{% if filtro.materia.id_nivel_id == 2  %} 
<br>
{% if nivel %}
<div class="row">
<div class="col-sm-4">
<p>Cantidad de Alumnos Inscritos: {{nivel1}}</p>
</div>   

  <div class="col-sm-3 col-sm-offset-4 col-md-3 col-md-offset-4 col-xs-offset-5">
      <div class="input-group">
         <span class="input-group-addon">
          <i class="fa fa-user" id="icon" aria-hidden="true"></i>
        </span> 
          <form method="get" action="">
          <input class="form-control" autocomplete="off" type="number" name="q" placeholder="Buscar..." value="{{ request.GET.q }}">
        </form> 
      </div>
  </div>
</div>
     
<div class="col-md-offset-2 col-sm-offset-2" style="width: 100%; margin-left: auto; padding: 15px !important; padding-top: 20px;">
  <div class="col-md-6 col-md-offset-3">
<p style="font-size: 36px;">Bienvenido {{user.first_name}}</p>
<p>Lista de Todos los alumnos Incritos en el nivel 2</p>
  </div>
<center>
  <div class="ba col-md-10 col-md-offset-1" style="background: #fff; padding-top:50px;  margin-bottom: 50px; box-shadow: 0px 0px 6px 1px;">
<table class="table table-bordered" >
  <thead>
    <tr>
      <td><center> Cedula</center></td>
      <td><center> Nombre</center></td>
      <td><center> Apellido</center></td>
      <td><center> Correo</center></td>
      <td><center> Acciones</center></td>
    </tr>
    
  </thead>
  <tbody>
    

    
    <tr>
    {% for persona in nivel %}
      {% if persona.id_nivel.nivel == 'II' %}
        <td>{{ persona.cedula.cedula }}</td>
        <td>{{ persona.cedula.nombre }}</td>
        <td>{{ persona.cedula.apellido }}</td>
        <td>{{ persona.cedula.email }}</td>
      <td>
        <center>
          <a class="btn btn-primary" href="{% url 'dato:nota' pk=persona.cedula %}" >Cargar Nota</a>
          <a class="btn btn-warning" href="#" >Ver Notas</a>
          {% if user.is_superuser %}
          <a class="btn btn-primary" href="{% url 'dato:listar_per' pk=persona.cedula %}" >Ver mas</a>
          <a class="btn btn-info" href="{% url 'dato:aplicacion_editar' pk=persona.cedula %}">Editar</a>
          <a class="btn btn-danger" href="{% url 'dato:aplicacion_eliminar' pk=persona.cedula %}">Eliminar</a>
        </center>
        {% endif %}

      </td>
    {% endif %}
    </tr>


    {% endfor %}
</div>
    {% else %}
    <img class="imgr" src="{% static 'assets/img/error.gif'%}" alt="Nosotros" width="300" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
    <h1 style="color:#010101;">No se encuentran estudiantes</h1>
    <a class="btn btn-danger" href="javascript:window.history.back();">&laquo; Volver atrás</a>
    <br>
    <br>
    {% endif %}
  </tbody>
  


</table >
<div class="pagination" style="margin:0px; ">
    {% if nivel.has_other_pages %}
            <ul class="pagination">
              {% if nivel.has_previous %}
              <li><a href="?page={{ nivel.previous_page_number }}">&laquo;</a></li>
              {% else %}
              <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in nivel.paginator.page_range %}
              {% if nivel.number == i %}
              <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
              {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
              {% endfor %}
              {% if nivel.has_next %}
              <li><a href="?page={{ nivel.next_page_number }}">&raquo;</a></li>
              {% else %}
              <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
            {% endif %}
    </div> 
</div>

{% else %}
<div class="top-content">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12  col-lg-12 form- f11" style="padding: 0px;background-image: url('{% static 'assets/img/line.png'%}'); background-size: cover; color: #3c3c3c;">
                      <img class="imgr" src="{% static 'assets/img/error.gif'%}" alt="Nosotros" width="300" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
                            <center><div style="width: 700px; padding-bottom: 50px;">
                             <h2 style="color: #3c3c3c;">!No tiene Permisos Suficientes para
                              acceder a esta pagina¡
                           </h2>
              <p class="lead"><a class="btn btn-primary btn-xl page-scroll" style="    line-height: 0px;" href="{% url 'dato:app_inicio' %}">Volver</a></p> 
                       </div ></center>
                    </div>
                </div>
            </div>
        </div>
{% endif %}

</center>
</div >

</div>
</div>
</div>

</div>
{% endif %}
{% if not user.is_profesor  %}
<div class="top-content">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12  col-lg-12 form- f11" style="padding: 0px;background-image: url('{% static 'assets/img/line.png'%}'); background-size: cover; color: #3c3c3c;">
                      <img class="imgr" src="{% static 'assets/img/error.gif'%}" alt="Nosotros" width="300" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
                            <center><div style="width: 700px; padding-bottom: 50px;">
                             <h2 style="color: #3c3c3c;">!No tiene Permisos Suficientes para
                              acceder a esta pagina¡
                           </h2>
              <p class="lead"><a class="btn btn-primary btn-xl page-scroll" style="    line-height: 0px;" href="{% url 'dato:app_inicio' %}">Volver</a></p> 
                       </div ></center>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
{% endblock %}