{% extends 'aplicacion/paneladminnw.html' %}
{% load static %}

{% block content %}
<style>
	.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
     border-bottom-width: 0px;
      }

    .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #333;}
    .table-bordered {
    border: 1px solid #333;}
.table {
    width: 80% !important;
    max-width: 100%;
    margin-bottom: 20px;}


</style>
<div class="top-content">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 form- f11" style="padding: 0px;background-image: url('{% static 'assets/img/line.png'%}'); background-size: cover; color: #3c3c3c;">
                        <div id="form" class="fixed-top"  >
                            
                            <ul class="nav nav-tabs">
                              <li class="nav-item">
                                <a class="nav-link active" href="{% url 'dato:app_inicio' %}">Inicio</a>
                              </li>
                              {% if user.is_alumno and not user.is_inscripcion and not user.is_superuser %}
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:ver_notas' %}">Ver Notas</a>
                              </li>
                              {% endif %} 
                              {% if user.is_superuser %}
                              <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  Profesores<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                <a class="nav-link" href="{% url 'dato:crear_usuario_profesor' %}">Añadir Profesor</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:ver_profesores' %}">Ver Profesores</a>
                                  
                                </ul>
                              </li>
                              <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  Materias<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                <a class="nav-link" href="{% url 'dato:asigna' %}">Asignar Profesor</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:ver_asignaciones' %}">Ver Materias</a>
                                   
                                </ul>
                              </li>
                              <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  Niveles<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                <a class="nav-link" href="{% url 'dato:nivel_1' %}">Nivel 1</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:nivel_2' %}">Nivel 2</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:nivel_3' %}">Nivel 3</a>
                                   
                                </ul>
                              </li>
                              <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  Reportes<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                  <p style="color:#00b0f0;">Generales</p>
                                <a class="nav-link" href="{% url 'dato:reporte_nivel1' %}">Nivel 1</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:reporte_nivel2' %}">Nivel 2</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:reporte_nivel3' %}">Nivel 3</a>
                                   
                                </ul>
                              </li>
                              
                              {% endif %}
                              {% if user.is_profesor %}
                              {% for filtros in filtro%}
                                    <li class="nav-item">
                                      <a class="nav-link" href="{% url 'dato:nivel1' %}">Estudiantes</a>
                                    </li>
                              {% endfor %}
                              {% endif %}
                              {% if user.is_profesor and not user.is_superuser %}               
                              {% endif %}
                              <li class="nav-item dropdown " style="float: right;">
                                <a class="nav-link dropdown-toggle"  data-toggle="dropdown"
                                   href="#!" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right"> 
                                  {% if request.user.is_alumno and not request.user.is_superuser %}
                                    <a href="{% url 'dato:aplicacion_editar' pk=request.user.ci %}" class="dropdown-item">Actualizar Datos</a><br>
                                  {% endif %}
                                    <a href="{% url 'dato:change_password' %}" class="dropdown-item">Cambiar Contraseña</a><br>

                                    <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>

                                </div>
                              </li>
                              {% if user.is_alumno and not user.is_inscripcion and not user.is_superuser %}
                              <li class="nav-item dropdown " style="float: right;">
                                <a class="nav-link dropdown-toggle"  data-toggle="dropdown"
                                   href="#!" role="button" aria-haspopup="true" aria-expanded="false">Solicitudes<span class="caret"></span>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right"> 
                                    <a href="{% url 'dato:solicitud' %}" class="dropdown-item">Retirarme</a>
                                </div>
                              </li>
                              {% endif %}
                              </li>
                              

                            </ul>
                        </div>
{% if user.is_alumno %}                            
<center>
<div class="col-sm-12">
<div style="color:#3c3c3c !important; margin-bottom: 120px;">                  
<h2 style="color:#3c3c3c !important;">Mis notas</h2>
</div>
<div class="col-sm-2 col-sm-offset-1">                    
<table class="table table-bordered">
  <tr>
    <th style="width: 200px; background-color: #7b7b7b36;">Materia</th>
  </tr>
</table > 
</div>
<div class="col-sm-6">                    
<table class="table table-bordered">
  <tr>
    <th style="background-color: #7b7b7b36;">1</th>
    <th style="background-color: #7b7b7b36;">2</th>
    <th style="background-color: #7b7b7b36;">3</th>
    <th style="background-color: #7b7b7b36;">4</th>
    <th style="background-color: #7b7b7b36;">5</th>
    <th style="background-color: #7b7b7b36;">6</th>
    <th style="background-color: #7b7b7b36;">7</th>
    <th style="background-color: #7b7b7b36;">8</th>
    <th style="background-color: #7b7b7b36;">9</th>
    <th style="padding:4px;padding-top:8px; background-color: #7b7b7b36;">10</th>

  </tr>
</table > 
</div>
<div class="col-sm-2">
  <table class="table table-bordered">
    <tr>
      <th style="background-color: #7b7b7b36;">Estatus</th>
    </tr>
  </table>
</div>
</div>

<div class="col-sm-12">
<div class="col-sm-2 col-sm-offset-1">                    
<table class="table table-bordered">
  <tr>
    <th style="width: 200px;">{{materia1}}</th>
  </tr>
</table > 
</div>
<div class="col-sm-6">                    
<table class="table table-bordered">
  
  {% if cantidad12 == 0 %}
  <tr>
    <th>No hay notas cargadas</th>
  {% else %}
  </tr>
  <tr>
    {% for persona in notas %}
    {% if persona.id_materia.nombre_materia == materia1 %}
    <th style="float: left;padding-left: 16px;padding-right:16.5px; border-left:none; border-bottom:none; border-top:none; ">
      {% if persona.nota_persona == '1' %}
        A
      {% endif %}
      {% if persona.nota_persona == '0' %}
       R
      {% endif %} 
    </th>
      

    {% endif %}
    {% endfor %}
  </tr>
  {% endif %}
</table>
</div>
<div class="col-sm-2">
  <table class="table table-bordered">
    <tr>
      {% if estat == 'Aprobado' %}
        <th style="background-color: lime;">{{ estat }}</th>
      {% else%}
        <th style="background-color: red; color: #fff;">{{ estat }}</th>
      {% endif %}
    </tr>
  </table>
</div>
</div>

<div class="col-sm-12">
<div class="col-sm-2 col-sm-offset-1">                    
<table class="table table-bordered">
  <tr>
    <th style="width: 200px;">{{materia2}}</th>
  </tr>
</table > 
</div>
<div class="col-sm-6">                    
<table class="table table-bordered">
  
  {% if cantidad13 == 0 %}
  <tr>
    <th>No hay notas cargadas</th>
  {% else %}
  <tr>
    {% for persona in notas1 %}
    {% if persona.id_materia.nombre_materia == materia2 %}

    <th style="float: left;padding-left: 16px;padding-right:16.5px; border-left:none; border-bottom:none; border-top:none;  ">
      {% if persona.nota_persona == '1' %}
        A
      {% endif %}
      {% if persona.nota_persona == '0' %}
       R
      {% endif %}
    </th>

    {% endif %}
    {% endfor %}
  </tr>
  {% endif %}
</table>
</div>
<div class="col-sm-2">
  <table class="table table-bordered">
    <tr>
      {% if estatus == 'Aprobado' %}
        <th style="background-color: lime;">{{ estatus }}</th>
      {% else%}
        <th style="background-color: red; color: #fff;">{{ estatus }}</th>
      {% endif %}
    </tr>
  </table>
</div>
</div>
<div class="col-md-12" style="margin-top:40px; ">
  {% if niveles %}
{% if estado != ''%}
  <center>
    <p style="font-size: 25px;color: #040404;">Estatus Final: {{estado}}</p>
    {%  if estado == 'Reprobado'%} 
      <p>!Lo sentimos a reprobado este nivel¡</p>
      <p>¿Desea Inscribirse nuevamente en este nivel?</p>
      <a href="{% url 'dato:pasar_nivel'%}"><button class="btn btn-primary">
        Inscribirme</button></a>
    {%endif %}
    {% if estado == 'Aprobado' %}
      <p>!Felicidades has Aprobado este nivel¡</p>
      <p>¿Desea Inscribirse en el siguiente nivel?</p>
      <a href="{% url 'dato:pasar_nivel'%}"><button class="btn btn-primary">
        Inscribirme</button></a>

    {%endif %}
    <br>
    <br>

  </center>
{% endif %}
{% endif %}
{% if estatus != '' %}
  <center>
    <a href="{% url 'dato:notas_p'%}" target="_blank"><button class="btn btn-primary">Imprmir Notas</button></a>
    </center>
{% endif %}
</div>


<div class="col-sm-12">
<div class="col-sm-2 col-sm-offset-1">                    
  <p style="padding-top: 30px; font-size: 15px; text-align: left;">Nota:
    <br>
    A:Aprobado,
    R:Reprobado</p>
</div>
</div>




</div>
</div>
</div>
</div>
</center>
{% else %}


<div class="top-content">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12  col-lg-12 form- f11" style="padding: 0px;background-image: url('{% static 'assets/img/line.png'%}'); background-size: cover; color: #3c3c3c;">
                      <img class="imgr" src="{% static 'assets/img/error.gif'%}" alt="Nosotros" width="300" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
                            <center><div style="width: 700px; padding-bottom: 50px;">
                             <h2 style="color: #3c3c3c;">!No tiene Permisos Suficientes para
                              acceder a esta pagina¡
                           </h2>
              <p class="lead"><a class="btn btn-primary btn-xl page-scroll" style="    line-height: 0px;" href="{% url 'dato:app_inicio' %}">Volver</a></p> 
                       </div ></center>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endif %}
{% endblock%}