{% extends 'aplicacion/paneladminnw.html' %}
{% load static %}

{% block content %}
<style>
	.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
     border-bottom-width: 0px;
      }

    .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #333;}
    .table-bordered {
    border: 1px solid #333;}
.table {
    width: 80% !important;
    max-width: 100%;
    margin-bottom: 20px;}


</style>
<div class="top-content">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 form- f11" style="padding: 0px;background-image: url('{% static 'assets/img/line.png'%}'); background-size: cover; color: #3c3c3c;">
                        <div id="form" class="fixed-top"  >
                            
                            <ul class="nav nav-tabs">
                              <li class="nav-item">
                                <a class="nav-link active" href="{% url 'dato:app_inicio' %}">Inicio</a>
                              </li>                              {% if user.is_superuser %}
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:reporte' %}">reportes</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:profesor' %}">Añadir Profesor</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:persona' %}">Añadir persona</a>
                              </li>
                              {% endif %}
            
                              {% if user.is_alumno %}
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:ver_notas' %}">Ver Notas</a>
                              </li>
                              {% endif %}                                  
                              <li style="float: right;">
                                <a  href="{% url 'logout' %}">Salir</a></nav>
                                
                              </li>
                            </ul>
                        </div>
{% if user.is_alumno %}                            
<center>
<div class="col-sm-12">
<div style="color:#3c3c3c !important; margin-bottom: 120px;">                  
<h2 style="color:#3c3c3c !important;">Mis notas</h2>
</div>
<div class="col-sm-2 col-sm-offset-1">                    
<table class="table table-bordered">
  <tr>
    <th style="width: 200px; background-color: #7b7b7b36;">Materia</th>
  </tr>
</table > 
</div>
<div class="col-sm-6">                    
<table class="table table-bordered">
  <tr>
    <th style="background-color: #7b7b7b36;">1</th>
    <th style="background-color: #7b7b7b36;">2</th>
    <th style="background-color: #7b7b7b36;">3</th>
    <th style="background-color: #7b7b7b36;">4</th>
    <th style="background-color: #7b7b7b36;">5</th>
    <th style="background-color: #7b7b7b36;">6</th>
    <th style="background-color: #7b7b7b36;">7</th>
    <th style="background-color: #7b7b7b36;">8</th>
    <th style="background-color: #7b7b7b36;">9</th>
    <th style="padding:4px;padding-top:8px; background-color: #7b7b7b36;">10</th>

  </tr>
</table > 
</div>
<div class="col-sm-2">
  <table class="table table-bordered">
    <tr>
      <th style="background-color: #7b7b7b36;">Estatus</th>
    </tr>
  </table>
</div>
</div>

<div class="col-sm-12">
<div class="col-sm-2 col-sm-offset-1">                    
<table class="table table-bordered">
  <tr>
    <th style="width: 200px;">{{materia1}}</th>
  </tr>
</table > 
</div>
<div class="col-sm-6">                    
<table class="table table-bordered">
  
  {% if cantidad12 == 0 %}
  <tr>
    <th>No hay notas cargadas</th>
  {% else %}
  </tr>
  <tr>
    {% for persona in notas %}
    {% if persona.id_materia.nombre_materia == materia1 %}
    <th style="float: left;padding-left: 16px;padding-right:16.7px; border-left:none; border-bottom:none; border-top:none; ">
      {% if persona.nota_persona == '1' %}
        A
      {% endif %}
      {% if persona.nota_persona == '0' %}
       R
      {% endif %} 
    </th>
      

    {% endif %}
    {% endfor %}
  </tr>
  {% endif %}
</table>
</div>
<div class="col-sm-2">
  <table class="table table-bordered">
    <tr>
      {% if estat == 'Aprobado' %}
        <th style="background-color: lime;">{{ estat }}</th>
      {% else%}
        <th style="background-color: red; color: #fff;">{{ estat }}</th>
      {% endif %}
    </tr>
  </table>
</div>
</div>

<div class="col-sm-12">
<div class="col-sm-2 col-sm-offset-1">                    
<table class="table table-bordered">
  <tr>
    <th style="width: 200px;">{{materia2}}</th>
  </tr>
</table > 
</div>
<div class="col-sm-6">                    
<table class="table table-bordered">
  
  {% if cantidad13 == 0 %}
  <tr>
    <th>No hay notas cargadas</th>
  {% else %}
  <tr>
    {% for persona in notas %}
    {% if persona.id_materia.nombre_materia == materia2 %}

    <th style="float: left;padding-left: 16px;padding-right:16.8px; border-left:none; border-bottom:none; border-top:none;  ">
      {% if persona.nota_persona == '1' %}
        A
      {% endif %}
      {% if persona.nota_persona == '0' %}
       R
      {% endif %}
    </th>

    {% endif %}
    {% endfor %}
  </tr>
  {% endif %}
</table>
</div>
<div class="col-sm-2">
  <table class="table table-bordered">
    <tr>
      {% if estatus == 'Aprobado' %}
        <th style="background-color: lime;">{{ estatus }}</th>
      {% else%}
        <th style="background-color: red; color: #fff;">{{ estatus }}</th>
      {% endif %}
    </tr>
  </table>
</div>
</div>


<div class="col-sm-12">
<div class="col-sm-2 col-sm-offset-1">                    
  <p style="padding-top: 80px; font-size: 15px; text-align: left;">Nota:
    <br>
    A:Aprobado,
    R:Reprobado</p>
</div>
</div>




</div>
</div>
</div>
</div>
</center>
{% else %}


<div class="top-content">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12  col-lg-12 form- f11" style="padding: 0px;background-image: url('{% static 'assets/img/line.png'%}'); background-size: cover; color: #3c3c3c;">
                      <img class="imgr" src="{% static 'assets/img/error.gif'%}" alt="Nosotros" width="300" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
                            <center><div style="width: 700px; padding-bottom: 50px;">
                             <h2 style="color: #3c3c3c;">!No tiene Permisos Suficientes para
                              acceder a esta pagina¡
                           </h2>
              <p class="lead"><a class="btn btn-primary btn-xl page-scroll" style="    line-height: 0px;" href="{% url 'dato:app_inicio' %}">Volver</a></p> 
                       </div ></center>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endif %}
{% endblock%}