{% extends 'base.html' %}
{% load static %}
<script>
function abrir_modal(url)
{
  $('#popup').load(url, function()
  {
    $(this).modal('show');
  });
  return false;
}

function cerrar_modal()
{
  $('#popup').modal('hide');
  return false;
};
</script>
{% block content %}
<style>
  .dropdown-menu {
    text-align: center;}
  .dropdown-item:hover {
    text-decoration: none;
    background-color: #eee;}
    .dropdown-item {
      margin-top: 0px;
      padding: 5px;}
</style>
{% block navbar %}
{% endblock %}
{% if user.is_superuser or user.is_alumno or user.is_profesor %} 
<div class="top-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12  col-lg-12 form- f11" style="padding: 0px; background-image: url('{% static 'assets/img/line.png'%}'); background-size: cover; background-repeat: no-repeat;">
                        <div id="form" class="fixed-top"  >
                            
                            <ul class="nav nav-tabs">
                              <li class="nav-item">
                                <a class="nav-link active" href="{% url 'dato:app_inicio' %}">Inicio</a>
                              </li>
                              {% if user.is_alumno and not user.is_inscripcion and not user.is_superuser %}
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'dato:ver_notas' %}">Ver Notas</a>
                              </li>
                              {% endif %} 
                              {% if user.is_superuser %}
                              <li class="nav-item">
                                <a class="nav-link active" href="{% url 'dato:nivel' %}">Iniciar Nivel</a>
                              </li>

                              <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  Profesores<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                <a class="nav-link" href="{% url 'dato:crear_usuario_profesor' %}">Añadir Profesor</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:ver_profesores' %}">Ver Profesores</a>
                                  
                                </ul>
                              </li>
                              <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  Materias<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                <a class="nav-link" href="{% url 'dato:asigna' %}">Asignar Profesor</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:ver_asignaciones' %}">Ver Materias</a>
                                   
                                </ul>
                              </li>
                              <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  Estudiantes<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                <a class="nav-link" href="{% url 'accounts:crear_usuario_alumno' %}">Añadir Alumno</a>
                                <br>
                                </ul>
                              </li>
                              <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  Niveles<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                <a class="nav-link" href="{% url 'dato:nivel_1' %}">Nivel 1</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:nivel_2' %}">Nivel 2</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:nivel_3' %}">Nivel 3</a>
                                   
                                </ul>
                              </li>
                              <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  Reportes<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                  <p style="color:#00b0f0;">Generales</p>
                                <a class="nav-link" href="{% url 'dato:reporte_nivel1' %}">Nivel 1</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:reporte_nivel2' %}">Nivel 2</a>
                                <br>
                                <a class="nav-link" href="{% url 'dato:reporte_nivel3' %}">Nivel 3</a>
                                   
                                </ul>
                              </li>
                              
                              {% endif %}
                              {% if user.is_profesor and not user.is_superuser %}
                                    <li class="nav-item">
                                      <a class="nav-link" href="{% url 'dato:nivel1' %}">Estudiantes</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="{% url 'dato:estudiante' %}">Estudiantes PDF</a>
                                    </li>
                              {% endif %}
                              {% if user.is_profesor and not user.is_superuser %}               
                              {% endif %}
                              <li class="nav-item dropdown " style="float: right;">
                                <a class="nav-link dropdown-toggle"  data-toggle="dropdown"
                                   href="#!" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right"> 
                                  {% if request.user.is_alumno and not request.user.is_superuser %}
                                    <a href="{% url 'dato:aplicacion_editar' pk=request.user.ci %}" class="dropdown-item">Actualizar Datos</a><br>
                                  {% endif %}
                                    <a href="{% url 'dato:change_password' %}" class="dropdown-item">Cambiar Contraseña</a><br>

                                    <a href="https://drive.google.com/file/d/1Bai0GhtaPm4tdp6-Ys_K3Iim5lrihwLy/view" target="_blank">Ayuda</a>
                                    <br>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>

                                </div>
                              </li>
                              {% if user.is_alumno and not user.is_inscripcion and not user.is_superuser %}
                              <li class="nav-item dropdown " style="float: right;">
                                <a class="nav-link dropdown-toggle"  data-toggle="dropdown"
                                   href="#!" role="button" aria-haspopup="true" aria-expanded="false">Solicitudes<span class="caret"></span>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right"> 
                                    <a href="{% url 'dato:solicitud' %}" class="dropdown-item">Retirarme</a>
                                </div>
                              </li>
                              {% endif %}
                              {% if user.is_alumno or user.is_superuser or user.is_profesor %}

                              <li class="nav-item dropdown" style="float: right;">
                                <a class="nav-link dropdown-toggle"  data-toggle="dropdown"
                                   href="#!" role="button" aria-haspopup="true" aria-expanded="false">Notificaciones <span class="badge badge-danger" >{{var}}</span>
                                 </a>
                                <style type="text/css">
                                  .boxNotification {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    padding: .2em;
                                    flex-direction: column;
                                    align-items: center;
                                    text-align: center;
                                    color: #00b0f0 !important;
                                  } .boxNotification a {
                                    text-align: center;
                                    width: 100%;
                                    padding: .2em;
                                    line-height: 1em;
                                  }
                                  .boxNotification p {
                                    text-align: center;
                                    width: 100%;
                                    padding: .2em;
                                    line-height: 1em;
                                  }
                                  .dropdown-menu{
                                    max-height: 50vh;
                                    overflow-y: scroll;
                                  }
                                </style>
                                <div class="dropdown-menu dropdown-menu-right" id="style-2"> 
                                    {% if notificacion %}
                                  {% for noti in notificacion %}
                                  <div class="boxNotification" id="style-2">
                                  {% if noti.estatus == True %}
                                    {% if user.is_superuser %}
                                    <a href="#" class="dropdown-item">
                                      <p style="text-align: center; font-size: 14px;">Solicitud de retiro</p>
                                        <p style="float: left; text-align: center; font-size: 14px;">El alumno <br>{{noti.user.nombre}} {{noti.user.apellido}} solicita retirarse de la escuela de formación
                                    <i style="float: right !important; " class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </p>
                                    <p style="float: left; text-align: left; font-size: 10px;">{{ noti.hora }}</p>
                                  </a>
                                      {% else %}
                                    <a href="#" class="dropdown-item">
                                    {{ noti.titulo }}<br> <br>
                                    <p style="float: left; text-align: left; font-size: 14px;">{{ noti.descripcion }}</p> <br><br>
                                    <i style="float: right !important; " class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    <p style="float: left; text-align: left; font-size: 10px;">{{ noti.hora }}</p>
                                    </a>
                                    {% endif %}
                                  {% endif %}
                                  {% if noti.estatus == False %}
                                    <a href="{% url 'dato:notificacion' pk=noti.id %}" class="dropdown-item" id="style-2">
                                      {% if user.is_superuser %}
                                      <p style="text-align: center; font-size: 14px;">Solicitud de retiro</p>
                                      <br>
                                        <p style="float: left; text-align: center; font-size: 14px;">El alumno <br>{{noti.user.nombre}} {{noti.user.apellido}} solicita retirarse de la escuela de formación</p>
                                        <p style="float: left; text-align: left; font-size: 10px;">{{ noti.hora }}</p>
                                    {% endif %}
                                    {% if user.is_profesor and not user.is_superuser %}
                                      <p style="text-align: center; font-size: 14px;">Notificación</p>
                                      <br>
                                        <p style="float: left; text-align: center; font-size: 14px;">El alumno <br>{{noti.user.nombre}} {{noti.user.apellido}} a sido retirado de la escuela de formación</p>
                                        <p style="float: left; text-align: left; font-size: 10px;">{{ noti.hora }}</p>
                                    {% endif %}
                                      {% if user.is_alumno and not user.is_superuser %}
                                    {{ noti.titulo }}<br> <br>
                                    <p style="float: left; text-align: left; font-size: 14px;">{{ noti.descripcion }}</p> <br><br>
                                    <p style="float: left; text-align: left; font-size: 10px;">{{ noti.hora }}</p>
                                    {% endif %}
                                    </a>
                                  {% endif %}
                                  </div>
                                  {% endfor %}
                                  {% else %}
                                    <div class="boxNotification">
                                      <p style="color: #00b0f0;">No posee notificaciones</p>
                                    </div>
                                {% endif %}
                                  </div>
                              {% endif %}
                              </li>
                              

                            </ul>

                        </div>
                        
                         {% if user.is_superuser or  user.is_profesor and not user.is_inscripcion or user.is_alumno and not user.is_inscripcion %}
                            <img class="imgr" src="{% static 'assets/img/gif.gif'%}" alt="Nosotros" width="300" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
                            <center><div style="width: 700px; padding-bottom: 50px;">
                             <h2 style="color: #3c3c3c;">Bienvenido/a {% if user.is_superuser%} admin {% endif %} {% if user.is_profesor and not user.is_superuser %} profesor {% endif %}<strong>{{user.first_name}}</strong>
                            al panel del admin de la escuela de <strong>formación</strong> y discipulado
                           </h2></div ></center>
                            {% endif %}
                        
                        {% if user.is_alumno and user.is_inscripcion %}
                            <img class="imgr" src="{% static 'assets/img/gif.gif'%}" alt="Nosotros" width="300" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
                            <center>
                            {% if error %}
                              <div style="width: 700px; padding-bottom: 50px;">
                            <h2 style="color: #3c3c3c;">Bienvenido {{user.first_name}} <br> {{error}}
                           </h2>
                         </div>
                            {% else %}
                              <div style="width: 700px; padding-bottom: 50px;">
                             <h2 style="color: #3c3c3c;">Bienvenido <strong>{{user.first_name}}</strong>
                              
                            Por favor actualice sus datos  <strong>Personales</strong>
                           </h2>
                         </div >
                            <p class="lead"><a class="btn btn-primary btn-xl page-scroll" href="{% url 'dato:aplicacion_crear' %}">¡Actualizar Datos!</a></p>
                           {% endif %}
                       </center>

                        {% endif %}

                        {% if user.is_inscripcion and user.is_profesor %}
                            <img class="imgr" src="{% static 'assets/img/gif.gif'%}" alt="Nosotros" width="300" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
                            <center><div style="width: 700px; padding-bottom: 50px;">
                             <h2 style="color: #3c3c3c;">Bienvenido profesor <strong>{{user.first_name}}</strong>
                            Por favor actualice sus datos  <strong>Personales</strong>
                           </h2></div >
                            <p class="lead"><a class="btn btn-primary btn-xl page-scroll" href="{% url 'dato:profesor' %}">¡Actualizar Datos!</a></p>
                       </center>

                        {% endif %}

                    </div >
                </div>
                    
            </div ">
        </div >

{% endif %}

{% if user.is_inscripcion and user.username == '123456789' %}

<div class="top-content">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12  col-lg-12 form- f11" style="padding: 0px; background-image: url('{% static 'assets/img/line.png'%}'); background-size: cover; background-repeat: no-repeat;">
                        <div id="form" class="fixed-top"  >
                        
                            <ul class="nav nav-tabs">
                              <li style="float: right;">
                                <a  href="{% url 'logout' %}">Salir</a></nav>
                                
                              </li>
                            </ul>
                        </div>
                            <img class="imgr" src="{% static 'assets/img/gif.gif'%}" alt="Nosotros" width="300" class="img-fluid my-1 mb-2 " style="margin-top: 50px;">
                            <center><div style="width: 700px; padding-bottom: 50px;">
                             <h1 style="color: #3c3c3c;">Para inscribirse En la Escuela de <strong>Formación</strong> y Discipulado presione el siguiente botón</h1>
                            <p class="lead"><a class="btn btn-primary btn-xl page-scroll" href="{% url 'accounts:crear_usuario_alumno' %}">¡Inscribirse!</a></p>
                       </center>
                    </div >
                </div>
                    
            </div ">
        </div >
</div>
</div>
{% endif %}
<script src="{% static 'assets/js/jquery-1.11.1.min.js'%}"></script>

<script type="text/javascript">
</script>
{% endblock %}