{% load static %}
<html>
<head>
	<title>
		Hello
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/estilo_admin.css'%}">
	<meta name="viewport" content="width=device-width, initial-scale: 1.0, user-scalable=0" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css'%}">
		<link rel="stylesheet" href="{% static 'assets/css/form-elements.css'%}">
</head>
<body>
{% block navbar %}
	<a class="mobile" href="#">Menu</a>

	<div id="container">
			<div class="sidebar" data-color="blue">
				<div class="logo col-md-offset-2 col-xs-offset-4"> <a href="{% url 'dato:inicio'%}"><img src="{% static 'assets/img/logo1.png'%}"></a></div>
					<ul id="nav">
                        <section>
    						<li > 
    							<a href="{% url 'dato:app_inicio' %}">
    								<p>Inicio</p>
    							</a>
    						</li>
                        </section>
                        <section>
    						<li> 
    							<a href="#">
    								<p>Cargar Nota</p>
    							</a>
                            </li>
                        </section>
                        <section>
    						<li>

                                <a href="#">
                                    <p>Estudiantes</p>
                                </a>
                            </li>
                        </section>
                        <section>
    						<li> 
                                <a href="#">
                                    <p>Notas Estudiantes</p>
                                </a>
                            </li>
                        </section>

					</ul>
				</div>
			</div>
	</div>
	{% endblock %}
        {% block content %}
		</div>
			<div class="content">
				<div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
					</div>
				</div>
			</div>
        </div>
   	</div>
</div>
	{% endblock %}
	{% block footer %}
    
        {% endblock%}

</body>
	<script src="{% static 'assets/js/jquery-1.11.1.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'assets/js/menu.js'%}"></script>
</html>